@import url("../utils.css");

html, body {
    font-size: 62.5%;
    height: 100%;
}

main {
    height: 100vh;
    background-image: linear-gradient(45deg, #323153, #323153);;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #table {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

main #table h1 {
    color: white;
    font-size: 3rem;
    display: flex;
    letter-spacing: 0.5rem;
    justify-content: center;
    margin: 2rem;
    text-transform: capitalize;
}

main #table input {
    margin: 1rem 0;
    padding: 1rem 5rem;
}

main #table .login_table_buton {
    background-image: linear-gradient(45deg, #108D7D, #12a18e);
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

main #table input[type="button"] {
    background-image: none;
    background-color: purple;
}

main #table span {
    font-size: 1.5rem;
    text-align: right;
    color: white;
    cursor: pointer;
}

main #table #login_table_text {
    font-size: 2rem;
    text-align: center;
    cursor: auto;
}

hr {
    margin: 2.5rem 1rem;
}