* {
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
}

header {
    position: relative;
    z-index: 999;
    background-color: #eee;
    height: 75px;
    width: 100%;
    left: 0px;
    top: 0px;
}

header .navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #eee;
    font-size: 2rem;
    align-items: center;
    color: gray;
    z-index: 999;
}

#favicon {
    height: 75%;
    position: relative;
    margin: 1rem;
    left: 1rem;
}

header .navbar h1 {
    position: relative;
    left: 0.5rem;
}

header .navbar .navbar_links {
    display: flex;
    position: absolute;
    right: 2rem;
    align-items: center;
}

header .navbar .navbar_links a:not(:last-child) {
    text-decoration: none;
    font-size: 1.5rem;
    flex-wrap: wrap;
    color: #fff;
    padding: 1.5rem 1rem;
    background-color: #884aa7;
    border-radius: 1rem;
    margin: 0.5rem;
    transition: all .3s;
}

header .navbar .navbar_links a:last-child {
    font-size: 2.5rem;
    align-items: center;
}

header .navbar .navbar_links a:hover:not(:last-child) {
    background-color: black;
}

.links_margin {
    margin-right: 0.5rem;
}

footer .footer {
    position: relative;
    z-index: 999;
    background-color: #eee;
    height: 7.5rem;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

.footer_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
}

footer .footer span {
    font-size: 1.7rem;
}

footer .footer .footer_contents .footer_icons {
    display: flex;
    font-size: 3rem;
    column-gap: 2rem;
    align-items: center;
    position: absolute;
    right: 4rem;
    flex-wrap: wrap;
}

.fa-instagram {
    color: #8a3ab9;
    transition: all .3s;
}

.fa-github {
    color: #171515;
    transition: all .3s;
}

.fa-twitter {
    color: #00acee;
    transition: all .3s;
}

.fa-linkedin {
    color: #0e76a8;
    transition: all .3s;
}

.hover:hover {
    transform: scale(1.2);
}